*{
    margin-left: auto;
    margin-right: auto;
}
body{
    width: auto;
    height: auto;
    background-color: #f3eac2;
}
.top{
    background-color: #f3eac2;
    height: auto;
}
.row{
    margin: auto;
}
h1{
    padding: 15px;
}
h2{
    font-size: 30px;
    margin-top: 5px;
    padding-bottom: 2px;
    border-bottom: 5px solid #f5b461;
    vertical-align: middle;
}
/* #etsi{
    margin-top: 10px;
} */
#home{
    font-size: 30px;
    margin-top: 10px;
    padding-bottom: 2px;
    border-bottom: 5px solid #f5b461;
    vertical-align: middle;
}
a:link{
    color:#000000;
}
a:visited {
    color:#000000;
}
a:focus{
    color:#000000;
}
a:hover{
    color:#ec524b;
}
a:active{
    color: rgb(0, 0, 0);
}
header{
    text-align: center;
    background-color: #9ad3bc;
    border: 10px solid #f5b461;
}
#nav{
    background-color: #ec524b;
    padding-top: 20px;
    padding-bottom: 20px;
}
.infobox{
    background-color:  #f3eac2;
    padding: 20px;
    padding-top: 75px; 
    overflow: hidden;
    display: flex;
}
#info{
    float: left;
    background-color: #ec524b;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin-left: 5%;
}
#logo{
    float: right;
    margin-right: 5%;
    margin-left: 5%;
}
.secondbox{
    background-color:  #f3eac2;
    height: auto;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 75px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin-left: 0%;
}
#secinfo{
    float: right;
    background-color: #ec524b;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin-right: 5%;
    height: 166px;
}
h4{
    font-size: 30px;
    float: left;
    margin-right: 5%;
    margin-left: 5%;
    padding: 10px;
    border: 5px solid #ec524b;
}
h5{
    font-size: 30px;
    float: right;
    margin-right: 5%;
    margin-left: 5%;
    padding: 10px;
    border: 5px solid #ec524b;
}
/* .h5{
    vertical-align: middle;
    padding: 10px;
    margin-right: 5%; */
/* } */
iframe{
    margin-left: 5%;
    width: 75%;
}
#vali{
    padding-left: 15px;
    padding-right: 15px;
}
footer{
    text-align: center;
    background-color: #9ad3bc;
    border: 10px solid #f5b461;
    border-top: #f5b461 solid 10px;
}
.pohja{
    padding-top: 15px;
    font-size: 20px;
}
#thanks{
    background-color: #9ad3bc;
    border: #f5b461 10px solid;
    text-align: center;
    vertical-align: middle;
}
#contactbox{
    width: 60%;
    float: left;
    padding: 10px;
    font-size: 20px;
}
#contact{
    background-color: #ec524b;
    color: white;
    height: auto;
    /* border: #f5b461 10px solid;
    border-bottom: #f5b461 5px solid; */
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
    margin-top: 3%;

}
#linkbox{
    padding: 20px;
}
#sclink{
    color: white;
    vertical-align: middle;
}
#sclogo{
    margin-left: 10px;
    border: 5px solid white;
}


@media screen and (max-width: 900px){
    #secinfo{
        height: auto;
    }
 }